<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img alt="Courslogo" src="../../../assets/Pictures/favicon.ico" style="width:40px;"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="listCours" style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif;" ><i class="fas fa-graduation-cap"></i>Les cours<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="disponibilite"  style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif;" ><i class="fas fa-calendar"></i>Mon agenda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="disponibilite"  style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif;" ><i class="fas fa-bell"></i>Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="disponibilite"  style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif;" ><i class="fas fa-users"></i>Contacts</a>
      </li>

      <!-- Dropdown -->
    <!--  <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>-->

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"  style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif;"  mdbWavesEffect>
              <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif;"  *ngIf="!isAuth"><i class="fas fa-sign-in-alt"></i>Connexion</a>
              <a class="dropdown-item" style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif;"  [routerLink]="['/profil']" *ngIf="isAuth"><i class="fas fa-address-card"></i>Profil</a>
              <a class="dropdown-item"  style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif;" (click)="onSignOut()" *ngIf="isAuth" ><i class="fas fa-sign-out-alt"></i>Déconnexion</a>
              <a class="dropdown-item" style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif;"  [routerLink]="['/register-user']" *ngIf="!isAuth" ><i class="fas fa-user-plus"></i>Créer un compte</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
