<app-header></app-header>

<div class="container-fluid" style="margin-top: 20px;margin-bottom: 20px;">
  <div class="row">
    <div class="col-sm-2" style="height: 100%;">
      <div class="row" style="height: 50%;">
        <div class="col-lg bg-success">
          <div class="container" style="margin-top:10px;">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id et dolorum accusantium inventore iusto mollitia itaque. Odit sequi excepturi expedita, cumque delectus quis rem doloremque impedit ipsam eos natus deleniti.
            </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row"  style="height: 50%;">
        <div class="col-lg bg-danger">
          <div class="container" style="margin-top:10px;">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id et dolorum accusantium inventore iusto mollitia itaque. Odit sequi excepturi expedita, cumque delectus quis rem doloremque impedit ipsam eos natus deleniti.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-10">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>






