<div class="container">
  <h2 style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif;">Vos contacts :</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <table class="table table-hover">
          <tbody>
          <!--Ng for sur tr-->
          <tr>
            <td><b>John</b></td>
            <td><b>Pitt</b></td>
            <td>-</td>
            <td>Anglais (3ème)</td>
            <td><button type="button" class="btn btn-outline-primary btn-sm"> <i class="fas fa-info"></i> </button></td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--Spacer-->
      <div class="col-1">
      </div>

      <!--carte de contacte à droite de l'écran-->
      <div class="col-6">
        <div class="container-fluid">
          <div class="card">
            <img class="card-img-top" src="https://vignette.wikia.nocookie.net/wiki-titeuf/images/9/91/Nadia_image_player_432_324.jpg/revision/latest/scale-to-width-down/340?cb=20120624163803&path-prefix=fr" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Pitt</h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <button type="button" class="btn btn-outline-primary" (click)="mailTo()">Contacter par mail: <i class="fas fa-at"></i>Cessna J.<!--nom personne--></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





