/* You can add global styles to this file, and also import other style files */

label{
  margin-top: 5px;
}
#error{
  background-color: red($color: #000000);
}
body > .container{
  padding-top: 60px;
}
html,
body {
 
  font-family: 'Cambria', sans-serif; 
  height: 100%;
  width: 100%;
  
}
#corps{
  background-image: url("/assets/blue2.png");
  background-size: cover;
 //background-repeat: no-repeat;
  //min-height:-45%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* Responsive */
@media(max-width:767px) {
  .sidebar {
    position: static;
    padding: 40px 0 10px;
    height: auto;
  }
}

