<div class="container">
  <div class="card" style="width:90%; margin-top: 20px;padding: 5px;box-shadow: 2.5px 2.5px #D4d4d4;margin-left: auto;margin-right: auto;">
  <h4 style="color: #0c335f; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-right: auto; margin-left: auto;">
    N'hésitez pas à mettre des filtres pour optimiser votre recherche :
  </h4>
    <hr style="width: 50%; margin-left: auto; margin-right: auto;">
    <div class="card-body" style="margin-top: -30px;">
      <div class="row">
        <!--catégorisation-->
        <div class="col-lg">
          <br>
          <div class="row">
            <div class="col-4">
              <div class="form-check">
                <label class="form-check-label" for="radio1">
                  <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Cours
                </label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-check">
                <label class="form-check-label" for="radio2">
                  <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Disponibilité
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg">
          <br>
          <!--list des niveaux-->
          <button type="button" class="btn btn-outline-primary dropdown-toggle btn-block" data-toggle="dropdown">Niveaux disponible</button>
          <div class="input-group-append">
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </div>
        </div>

        <div class="col-lg">
          <br>
          <!--list des Localisation-->
          <button type="button" class="btn btn-outline-primary dropdown-toggle btn-block" data-toggle="dropdown">Localisation</button>
          <div class="input-group-append">
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </div>
        </div>

        <!--recherche-->
        <div class="col-lg">
          <br>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Que cherchez vous" aria-label="Que cherchez vous ?" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
               <!--bouton de recherche-->
              <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <br>
</div>
