footer{
 
  background-color: #0c335f;
  color: white;
  text-align: center;
  width: 99.5%;
 
}
ul{
  list-style: none;
  text-align: left;
}

a{
  color: #e0ebeb;
}

.modal-body{
  color: #446b97;
}

.modal-title{
  color: #0c335f;
}

.linky{
  cursor: pointer;
}

.linky:hover{
  color: #e52a3a;
}

a:hover{
  color: #e52a3a;
}
